* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
}

main {
    padding-right: 1rem;
    padding-left: 1rem;
}

h2 {
    color: #dc3545;
}

h5 {
    color: #dc3545;
}

p {
    color: aliceblue;
}

hr {
    color: aliceblue;
}

a {
    color: #dc3545;
    text-decoration: none;
    
}

hr {
    color: #dc3545;
    opacity: 10;
}

.carousel-caption h5,
.carousel-caption p {
    font-size: 35px;
}

.slide {
    margin-top: 3px;
}

.slide img {
    height: 80vh;
}

.row {
    margin-top: 50px;  
}

.col-md-7 h2,
.col-md-7 p{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}

.container p {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .slide img {
        height: auto;
    }
    
    .carousel-caption h5,
    .carousel-caption p {
        font-size: 18px;
    }

    

}

@media (max-width: 400px) {
    .carousel-caption h5,
      .carousel-caption p {
          font-size: 10px;
      }
    #btn-slider {
        font-size: 10px;
    }
    .col-md-7 h2,
    .col-md-7 p {
        font-size: 1rem;
    }
  }


